@import "tailwindcss";
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --font-size-base: 16px;
}

.scalable-text {
  font-size: var(--font-size-base) !important;
  line-height: 1.5;
}

.custom-toast {
    background-color: #f1f1f1d5 !important; /* Cambia el color de fondo */
    color: rgb(19, 19, 19) !important; /* Cambia el color del texto */
    --toastify-color-progress-success: #bd9260 !important; /* Cambia el color de la barra de progreso */
  }

.dark .CodeMirror {
  background-color: #1a1a1a;
  color: #ffffff;
}

.dark .CodeMirror-cursor {
  border-left: 2px solid #ffffff;
}

.dark .editor-toolbar button.active, .editor-toolbar button:hover {
    background: #26334b;
    border-color: #95a5a6;
}

.dark .CodeMirror-selectedtext {
    background: #014cbd;
}
